{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}

<div id="form">
    <form name="my_profile">
        <fieldset>
	    <legend>Personal Information</legend>
            <div class="form-group">
                <label>Name:</label>
		<input name="name" id="prof_name"/>
            </div>
	    <br>
	    <div class="form-group">
                <label>Picture:</label>
		<input name="picture" id="picture"/>
            </div>
	    <br>
	    <div class="form-group">
		<label>About Me:</label>
		<input id="about" name="about"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Age:</label>
		<input id="age" name="age"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Email:</label>
		<input id="email" name="email"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Phone Number:</label>
		<input id="phone" name="phone"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Interests:</label>
		<container>
		<input id="inter1" name="inter" type="checkbox" value="expSF">exploring SF</input><br>
		<input id="inter2" name="inter" type="checkbox" value="nightlife">nightlife</input><br>
		<input id="inter3" name="inter" type="checkbox" value="outdoors">outdoors</input><br>
		<input id="inter4" name="inter" type="checkbox" value="sports">sports</input><br>
		<input id="inter5" name="inter" type="checkbox" value="videogames">video games</input><br>
		</container>
	    </div>
	</fieldset>
	<br>
	<fieldset>
	    <legend>Oracle Information</legend>
	    <div class="form-group">
		<label>Location:</label>
		<input id="loc" name="loc"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Group:</label>
		<input id="group" name="group"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Employee ID:</label>
		<input id="empid" name="empid"/>
	    </div>
	</fieldset>
	<br>
	<fieldset>
		<legend>Education Information</legend>
	    <div class="form-group">
		<label>School:</label>
		<input id="school" name="school"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Graduation Year:</label>
		<input id="gradYear" name="gradYear"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Involvement:</label>
		<input id="involv" name="involv"/>
	    </div>
        </fieldset>
	<br>
	<fieldset>
	    <button type="button" class="button" id="mybutton">Add My Profile</button>
	</fieldset>
    </form>
</div>

<script type='text/javascript'>

	
var extractjson = function(){ 
	var s = {}
	s["Profname"] = $(prof_name)[0].value
	s["username"] = "{{current_user.username}}"
        s["picture"] = $(picture)[0].value
	s["about"]=$(about)[0].value
	s["age"]=$(age)[0].value
	s["email"]=$(email)[0].value
	s["phone"]=$(phone)[0].value
	s["inter1"]=$(inter1)[0].value
	s["inter2"]=$(inter2)[0].value
	s["inter3"]=$(inter3)[0].value
	s["inter4"]=$(inter4)[0].value
	s["inter5"]=$(inter5)[0].value
	s["loc"]=$(loc)[0].value
	s["group"]=$(group)[0].value
	s["empid"]=$(empid)[0].value
	s["school"]=$(school)[0].value
	s["gradYear"]=$(gradYear)[0].value
	s["involv"]=$(involv)[0].value
	var jsondoc = JSON.stringify(s)
	$.post("/myprofile", jsondoc, function(){location.reload(), 
					$(prof_name)[0].value = "", 
					$(picture)[0].value="",
					$(about)[0].value = "",
					$(age)[0].value = "",
					$(email)[0].value = "", 
					$(phone)[0].value = "",
					$(inter1)[0].checked = false,
					$(inter2)[0].checked = false,
					$(inter3)[0].checked = false,
					$(inter4)[0].checked = false,
					$(inter5)[0].checked = false,
					$(loc)[0].value = "",
					$(group)[0].value = "",
					$(empid)[0].value = "",
					$(school)[0].value = "",
					$(gradYear)[0].value = "",
					$(involv)[0].value = ""})
}

$(mybutton).click(extractjson)
</script>

{% endblock %}
