{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}

<div>
<form method="POST"> 

{{ form.hidden_tag()}}

{{ render_field(form.Profname, label=True, class="input-xlarge") }}
{{ render_field(form.about, label=True, class="input-xlarge") }}
{{ render_field(form.age, label=True, class="input-xlarge") }}
{{ render_field(form.email, label=True, class="input-xlarge") }}
{{ render_field(form.phone, label=True, class="input-xlarge") }}
{{ render_field(form.interests, label=True, class="input-xlarge") }}
<br>
<br>
{{ render_field(form.loc, label=True, class="input-xlarge") }}
{{ render_field(form.group, label=True, class="input-xlarge") }}
{{ render_field(form.empid, label=True, class="input-xlarge") }}
{{ render_field(form.school, label=True, class="input-xlarge") }}
{{ render_field(form.gradYear, label=True, class="input-xlarge") }}
{{ render_field(form.involv, label=True, class="input-xlarge") }}

<input type="submit" name="search" value="Search">

</form>
</div>


{% endblock %}
