{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}

<div id="form">
    <form name="my_profile" method ="POST">
        <fieldset>
	    <legend>Personal Information</legend>
            <div class="form-group">
                <label>Name:</label>
		<input name="pname" id="prof_name" type="text"/>
            </div>
	    <br>
	    <div class="form-group">
		<label>About Me:</label>
		<input id="about" name="about" type="text"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Age:</label>
		<input id="age" name="age" type="text"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Email:</label>
		<input id="email" name="email" type="text"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Phone Number:</label>
		<input id="phone" name="phone" type="text"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Interests:</label>
		<container>
		<input id="inter1" name="inter1" type="checkbox" value="expSF">exploring SF</input><br>
		<input id="inter2" name="inter2" type="checkbox" value="nightlife">nightlife</input><br>
		<input id="inter3" name="inter3" type="checkbox" value="outdoors">outdoors</input><br>
		<input id="inter4" name="inter4" type="checkbox" value="sports">sports</input><br>
		<input id="inter5" name="inter5" type="checkbox" value="videogames">video games</input><br>
		</container>
	    </div>
	</fieldset>
	<br>
	<fieldset>
	    <legend>Oracle Information</legend>
	    <div class="form-group">
		<label>Location:</label>
		<input id="loc" name="loc" type="text"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Group:</label>
		<input id="group" name="group" type="text"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Employee ID:</label>
		<input id="empid" name="empid" type="text"/>
	    </div>
	</fieldset>
	<br>
	<fieldset>
	    <legend>Education Information</legend>
	    <div class="form-group">
		<label>School:</label>
		<input id="school" name="school" type="text"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Graduation Year:</label>
		<input id="gradYear" name="gradYear" type="text"/>
	    </div>
	    <br>
	    <div class="form-group">
		<label>Involvement:</label>
		<input id="involv" name="involv" type="text"/>
	    </div>
        </fieldset>
	<br>
	<fieldset>
	    <input type="submit" name="search" value="Search">
	</fieldset>
    </form>
</div>
{% endblock %}
