{% from "util.html" import render_field %}

{% extends "base.html" %}

{% block content %}
    {% for comment in comments %}
            <p>{{ comment.text.split('"') }}</p>
    {% endfor %}


<div id="form">
    <form name="my_profile">
        <fieldset>
	    <legend>Personal Information</legend>
            <div class="form-group">
                <label>Name:</label>
            </div>
	    <br><br>
	    <div class="form-group">
                <label>Picture:</label>
            </div>
            <br><br>
	    <div class="form-group">
		<label>About Me:</label>
	    </div>
	    <br><br>
	    <div class="form-group">
		<label>Age:</label>
	    </div>
	    <br><br>
	    <div class="form-group">
		<label>Email:</label>
	    </div>
	    <br><br>
	    <div class="form-group">
		<label>Phone Number:</label>
	    </div>
	    <br><br>
	    <div class="form-group">
		<label>Interests:</label>
	    </div>
	</fieldset>
	<br>
	<fieldset>
	    <legend>Oracle Information</legend>
	    <div class="form-group">
		<label>Location:</label>
	    </div>
	    <br><br>
	    <div class="form-group">
		<label>Group:</label>
	    </div>
	    <br><br>
	    <div class="form-group">
		<label>Employee ID:</label>
	    </div>
	</fieldset>
	<br>
	<fieldset>
	    <legend>Education Information</legend>
	    <div class="form-group">
		<label>School:</label>
	    </div>
	    <br><br>
	    <div class="form-group">
		<label>Graduation Year:</label>
	    </div>
	    <br><br>
	    <div class="form-group">
		<label>Involvement:</label>
	    </div>
        </fieldset>
	<br>
    </form>
</div>

{% endblock %}
